*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(32, 100, 146);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#hamburgerMenu {
    margin: 10px;
    box-sizing: inherit;
    width: 35px;
    height: 35px;
    background-color: transparent;
    border-top: 5px solid white;
    position: relative;
}

#hamburgerMenu::before, #hamburgerMenu::after {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    border-top: 5px solid white;
}

#hamburgerMenu::after {
    transform: translateY(25px);
}

#hamburgerMenu::before {
    transform: translateY(10px);
}

#hamburgerMenu:hover {
    transform: rotate(45deg);
    border: none;
}

#hamburgerMenu:hover::after {
    transform: rotate(-90deg) translateX(-10px);
}