*, *::before, *::after {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(32, 100, 146);
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#hamburgerMenu {
    margin: 10px;
    box-sizing: inherit;
    width: 35px;
    height: 35px;
    background-color: rgba(255, 255, 255, 0.4);
    border-top: 5px solid white;
    position: relative;
}

#hamburgerMenu::before, #hamburgerMenu::after {
    content: '';
    position: absolute;
    background-color: rgba(255, 255, 255, 0.4);
}