* *::before *::after {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(32, 100, 146);
}

#hamburgerMenu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width: 20px;
    height: 20px;
    background-color: white;
}